@import "sections/hero";
@import "sections/take";
@import "sections/winners";
@import "sections/dates";
@import "sections/callback";

.section__title {
  font-size: 120px;
  font-style: italic;
  font-weight: 900;
  line-height: 1.25;
  text-transform: uppercase;

  @media (max-width: 1750px) {
    font-size: 90px;
  }
  @media (max-width: 1500px) {
    font-size: 80px;
  }
  @media (max-width: 1200px) {
    font-size: 60px;
  }
}
