:root {
  --c-text-regular: #0f0f0f;
  --c-text-second: #333;

  --fz-regular: 18px;
  --fz-title-section: 44px;

  --z-dropdown: 10;
  --z-tooltip: 20;
  --z-sticky-header: 90;
  --z-popup: 100;
  --z-burger-button: 50;
  --z-burger: 110;

  --bg-modal-overlay: rgba(0, 0, 0, 0.85);
  --c-modal-closer-hover: #ff3b30;
  --transition-modal-closer: all 0.3s;
}
