@import "libs";
@import "fonts";
@import "vars";
@import "grids";
@import "mixins";
@import "components";

body {
  font-family: var(--ff-body);
  font-size: var(--fz-base);
  color: var(--c-text-regular);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
