@import "libs";
@import "fonts";
@import "vars";
@import "grids";
@import "mixins";
@import "components";
@import "sections";

body {
  font-family: var(--ff-body);
  font-size: var(--fz-base);
  color: #fff;
  background-color: var(--bg-body);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.text--hl {
  position: relative;
}
.text--hl::before,
.text--hl::after {
  position: absolute;
  top: 0;
  left: -5%;
  display: block;
  width: 110%;
  height: 100%;
  content: "";
  border: 3px solid #fff;
  border-radius: 0.6em;
  @media (max-width: 767px) {
    border: 2px solid #fff;
  }
}

.text--hl::before {
  transform: rotate(2.53deg);
}
.text--hl::after {
  transform: rotate(-2.11deg);
}
.text--small {
  display: block;
  font-size: 0.4em;
  line-height: 1;
}
.text--underline {
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease;
}
a.text--underline:hover {
  color: #9bb5ee;
  border-bottom-color: #9bb5ee;
}

.wrapper {
  max-width: 100%;
  overflow-x: hidden;
}

.no-mobile {
  @media (max-width: 1099px) {
    display: none;
  }
}
.no-desktop {
  @media (min-width: 1100px) {
    display: none;
  }
}

#requirements {
  max-height: 80vh;
  overflow: auto;
  background-color: var(--c-accent);
}
#requirements h3 {
  margin-bottom: 20px;
  font-size: 30px;
}
#requirements h4 {
  margin-bottom: 20px;
  font-size: 24px;
}
#requirements p {
  margin-bottom: 20px;
  line-height: 1.5;
}

#requirements a {
  border-bottom: 1px solid #fff;
}
