.b_button {
  display: inline-block;
  padding: 1em 2.3em;
  font-size: var(--fz-regular);
  font-weight: 600;
  text-align: center;
  background-color: #dfdfdf;
  border-radius: 0.65em;
}

.button {
  display: inline-block;
  padding: 12px 35px;
  font-family: var(--ff-body);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 60em;
  transition: all 0.3s ease;
  @media (max-width: 767px) {
    max-width: 237px;
    padding: 8px 20px;
    font-size: 15px;
  }
}
.button--primary {
  color: var(--c-accent);
  background-color: #fff;
  border: 2px solid transparent;
}
.button--primary:hover {
  color: #fff;
  background-color: var(--c-accent);
  border: 2px solid #fff;
}
.button--invert {
  color: #fff;
  background-color: #0012c3;
}
.button--invert:hover {
  color: #0012c3;
  background-color: #fff;
}

.button--secondary {
  color: #fff;
  border: 2px solid #fff;
}
