.dates {
  position: relative;
  z-index: 4;
}

.dates__container {
  padding-right: 40px;
  padding-bottom: 125px;
  padding-left: 40px;
  background: #020824;

  @media (min-width: 1800px) {
    padding-right: 160px;
    padding-left: 160px;
  }
  @media (max-width: 767px) {
    padding-right: 16px;
    padding-left: 16px;
  }
  @media (max-width: 1600px) {
    padding-bottom: 70px;
  }
  @media (max-width: 1200px) {
    padding-bottom: 35px;
  }
  @media (max-width: 576px) {
    margin-top: -60px;
  }
}

.dates__callout {
  margin-bottom: 115px;

  @media (max-width: 1440px) {
    margin-bottom: 50px;
  }
}

.dates__title {
  margin-bottom: 90px;
  font-size: 120px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1600px) {
    margin-bottom: 60px;
    font-size: 90px;
  }
  @media (max-width: 1200px) {
    font-size: 70px;
  }
  @media (max-width: 991px) {
    font-size: 60px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
.dates__subtitle {
  margin-bottom: 70px;
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1500px) {
    margin-bottom: 40px;
    font-size: 35px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 15px;
  }
  @media (max-width: 375px) and (min-width: 360px) {
    font-size: 14px;
  }
}

.dates__title .text--hl {
  @media (max-width: 767px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.dates__title .text--small {
  @media (max-width: 767px) {
    margin-top: 20px;
    font-size: 18px;
  }
}
.dates__title .text--hl:before {
  @media (min-width: 768px) {
    left: -3%;
    width: 106%;
    transform: rotate(0.95deg);
  }
}

.dates__title .text--hl:after {
  @media (min-width: 768px) {
    left: -3%;
    width: 106%;
    transform: rotate(-0.79deg);
  }
}

.dates-table {
  display: grid;
  grid-template-columns: 350px auto;
  column-gap: 104px;

  @media (max-width: 1600px) {
    grid-template-columns: 320px auto;
    column-gap: 65px;
  }
  @media (max-width: 1400px) {
    grid-template-columns: 270px auto;
    column-gap: 35px;
  }
  @media (max-width: 1200px) {
    grid-template-columns: 230px auto;
  }
  @media (max-width: 991px) {
    position: relative;
    display: block;
    overflow: visible;
  }
}
@media (max-width: 991px) {
  .dates-table__content {
    width: calc(100% + 80px);
    margin-bottom: 40px;
    margin-left: -40px;
    overflow: hidden;
  }

  .dates-table__scroller {
    margin-bottom: -20px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .dates-table__scroller-track {
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    white-space: nowrap;
  }
  .dates-table__scroller-track::after {
    display: block;
    min-width: 60px;
    height: 20px;
    content: "";
  }
}

.dates-table__title {
  margin-bottom: 25px;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;

  @media (max-width: 1400px) {
    margin-bottom: 20px;
    font-size: 26px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.dates-table__button {
  width: 100%;
  margin-bottom: 24px;
  font-size: 45px;
  font-style: italic;

  @media (max-width: 1400px) {
    font-size: 35px;
  }
  @media (max-width: 1200px) {
    font-size: 28px;
  }
  @media (max-width: 991px) {
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 18px;
  }
  @media (max-width: 576px) {
    margin-right: 20px;
    font-size: 20px;
  }
  @media (max-width: 390px) {
    margin-right: 15px;
    font-size: 18px;
  }
  // @media (max-width: 320px) {

  //   margin-right: 15px;
  // }
}

.dates-table__row {
  display: grid;
  grid-template-columns: 312px auto;
  column-gap: 29px;

  @media (max-width: 1500px) {
    grid-template-columns: 222px auto;
  }
  @media (max-width: 1200px) {
    grid-template-columns: 212px auto;
  }
  @media (max-width: 767px) {
    display: block;
    margin-bottom: 20px;
  }
}

.dates-table__row-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
  margin-bottom: 24px;
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  color: #fff;
  text-align: center;
  background-color: #0012c3;
  border-radius: 44px;

  @media (max-width: 1500px) {
    font-size: 26px;
  }
  @media (max-width: 1400px) {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 24px;
  }
  @media (max-width: 1200px) {
    padding-right: 15px;

    padding-left: 15px;
  }
}

.dates-table__tab-page {
  display: none;
}
.dates-table__tab-page.tab--active {
  display: block;
}
.dates-table__button.tab--active {
  color: #fff;
  background-color: #0012c3;
  border-color: #0012c3;
}

.dates-table__body-headings {
  @media (max-width: 767px) {
    display: none;
  }
}

@media (max-width: 767px) {
  .dates-table__row-date {
    display: inline-block;
    width: auto;
    max-width: initial;
    margin-bottom: 10px;
    font-size: 20px;
    color: #0012c3;
    background-color: #fff;
  }

  .dates-table__row-place {
    font-size: 15px;
  }
  .dates-table__heading {
    position: sticky;
    top: 0;
  }
}
