.take {
  position: relative;
  z-index: 2;
  padding-top: 340px;
  padding-bottom: 130px;
  margin-top: -270px;

  @media (max-width: 1099px) {
    padding-top: 110px;
    margin-top: 0;
  }
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
}

.take__container {
  position: relative;
  z-index: 3;
  padding: 0 153px;
  @media (max-width: 1680px) {
    padding: 0 93px;
  }

  @media (max-width: 1500px) {
    padding: 0 63px;
  }
  @media (max-width: 1200px) {
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.take-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  pointer-events: var(--pi-decor);
  background-image: url("../img/take/wave-pattern.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (max-width: 1099px) {
    background-color: #2b55b1;
  }
}

.take__lines {
  position: absolute;
  top: 190px;
  left: 0;
  width: 100%;
  height: 250px;
  pointer-events: var(--pi-decor);
  background-image: url("../img/take/line_block.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 1099px) {
    display: none;
  }
}
.take__date {
  margin-bottom: -10px;
  font-size: 38px;
  font-style: italic;
  font-weight: 900;
  @media (max-width: 1400px) {
    margin-bottom: 10px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.take__offer {
  @media (max-width: 1099px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  @media (max-width: 767px) {
    position: relative;
    z-index: 2;
  }
}

.take__title {
  @media (max-width: 1099px) {
    order: -1;
  }
  @media (max-width: 991px) {
    font-size: 50px;
  }
  @media (max-width: 767px) {
    margin-bottom: 5px;
    font-size: 30px;
  }
}

.take__title .text--hl {
  @media (max-width: 1750px) {
    margin-left: 20px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.take__bullets {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: -10px;

  @media (max-width: 1200px) {
    justify-content: center;
  }
  @media (max-width: 1099px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.take-bullet {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 50%;

  @media (max-width: 1099px) {
    margin-bottom: -70px;
  }
  @media (max-width: 992px) {
    max-width: 80%;
  }
  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin-bottom: -30px;
    margin-left: -20px;
  }
}
.take-bullet:nth-child(2) {
  margin-bottom: -50px;
  margin-left: 120px;
  @media (max-width: 767px) {
    padding-left: 40px;
    margin-bottom: -20px;
    margin-left: 0;
    transform: translateX(-15px);
    .take-bullet__desc {
      transform: translateX(40px);
    }
  }
}
.take-bullet:last-child {
  max-width: 61%;
  padding-left: 60px;
  margin-top: -80px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1099px) {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: 0;
    margin-left: 25px;
  }
  @media (max-width: 992px) {
    max-width: 80%;
    margin-left: 55px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding-left: 0;
    margin-left: -30px;
    .take-bullet__desc {
      transform: translateX(20px);
    }
  }
}
.take-bullet__pic {
  display: block;
  width: 100%;
  max-width: 328px;
  height: auto;
  margin-left: -100px;

  @media (max-width: 1750px) {
    max-width: 290px;
  }
  @media (max-width: 1400px) {
    max-width: 250px;
  }
  @media (max-width: 1200px) {
    max-width: 210px;
  }
  @media (max-width: 767px) {
    max-width: 124px;
    margin-left: 0;
  }
}
.take-bullet__img {
  display: block;
  width: 100%;
  height: 100%;
}

.take-bullet__desc {
  margin-left: -40px;
  font-size: 45px;
  font-style: italic;
  font-weight: 800;
  @media (max-width: 1750px) {
    font-size: 38px;
  }
  @media (max-width: 1460px) {
    font-size: 35px;
  }
  @media (max-width: 1200px) {
    font-size: 30px;
  }
  @media (max-width: 991px) {
    font-size: 26px;
  }
  @media (max-width: 767px) {
    font-size: 13px;
  }
}
.take-bullet:first-child .take-bullet__desc {
  margin-left: -80px;
  // margin-right: 100px;
  // margin-left: -40px;
  @media (max-width: 1400px) {
    margin-left: -60px;
  }
  @media (max-width: 1400px) {
    margin-left: -20px;
  }
}

.take__phone {
  position: absolute;
  top: -370px;
  right: 200px;
  width: 100%;
  max-width: 440px;
  height: 737px;
  background-image: url("../img/take/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (max-width: 1750px) {
    top: -280px;
    right: 250px;
    height: 600px;
  }
  @media (max-width: 1500px) {
    top: -170px;
    right: 160px;
    height: 430px;
  }
  @media (max-width: 1200px) {
    height: 380px;
  }
  @media (max-width: 1099px) {
    right: -60px;
    transform: rotate(-11.81deg);
  }
  @media (max-width: 991px) {
    top: -120px;
    right: -170px;
  }
  @media (max-width: 767px) {
    top: -110px;
    right: -144px;
    height: 270px;
    transform: rotate(-16.1deg);
  }
  @media (max-width: 576px) and (min-width: 360px) {
    right: -164px;
  }
}

.take__phone.no-desktop {
  @media (max-width: 1099px) {
    right: unset;
    left: -100px;
    transform: rotate(17.34deg);
  }
  @media (max-width: 991px) {
    top: -110px;
    left: -180px;
    height: 280px;
  }
  @media (max-width: 768px) {
    top: -100px;
    left: -140px;
    z-index: 1;
    height: 160px;
  }
}

.take__hint {
  margin-bottom: 56px;
  font-size: 25px;
  font-style: italic;
  font-weight: 800;
  line-height: 1.25;
  text-align: center;

  @media (max-width: 1100px) {
    font-size: 20px;
  }
  @media (max-width: 991px) {
    br {
      display: none;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 10px;
  }
}

.take-shining {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url("../img/take/take-shining.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  mix-blend-mode: color-dodge;
  @media (max-width: 576px) {
    display: none;
  }
}
