.winners {
  position: relative;
  z-index: 3;
  padding-bottom: 230px;
  background-image: url("../img/winners/winners-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 1600px) {
    padding-bottom: 140px;
  }
  @media (max-width: 1200px) {
    padding-bottom: 130px;
  }
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
}
.winners__container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 280px;
  margin-bottom: -10px;
  content: "";
  background: linear-gradient(360deg, #020824 45.81%, rgba(0, 0, 0, 0) 95.71%);
  @media (max-width: 768px) {
    height: 140px;
  }
  @media (max-width: 1600px) {
    // height: 440px;
  }
  @media (max-width: 576px) {
    height: 290px;
  }
}
.winners__container {
  padding: 0px 133px;

  @media (max-width: 991px) {
    padding: 0px 83px;
  }
  @media (max-width: 767px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.winners__pic {
  display: block;
  max-width: 78%;
  min-height: 1000px;
  margin-top: 0;
  margin-bottom: -43%;
  margin-left: auto;
  pointer-events: var(--pi-decor);
  transform: translate(40px, -180px);

  @media (max-width: 1750px) {
    max-width: 88%;
    margin-bottom: -47%;
  }
  @media (max-width: 1600px) {
    min-height: 860px;
    margin-bottom: -60%;
  }
  @media (max-width: 1199px) {
    margin-bottom: -70%;
  }
  @media (max-width: 1099px) {
    min-height: 770px;
    transform: translate(40px, -110px);
  }
  @media (max-width: 991px) {
    max-width: 100%;
    min-height: initial;
    transform: translate(40px, -40px);
  }
  @media (max-width: 767px) {
    margin-bottom: -50%;
    transform: translate(0px, -20px);
  }
}
.winners__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.winners__title {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  font-size: 85px;
  font-style: italic;
  // text-shadow: 1px 1px 20px #3b72d7;
  font-weight: 800;
  line-height: 1.25;
  text-transform: uppercase;

  @media (max-width: 1500px) {
    font-size: 65px;
  }
  @media (max-width: 1300px) {
    font-size: 55px;
  }
  @media (max-width: 1200px) {
    font-size: 45px;
  }
  @media (max-width: 767px) {
    font-size: 25px;
    br {
      display: none;
    }
  }
}
.winners__title span {
  display: block;
  font-style: italic;
  font-weight: 900;
  line-height: 1em;
  text-transform: uppercase;
}

.winners__title span:nth-of-type(1) {
  font-size: 360px;
  line-height: 0.9em;
  @media (max-width: 1440px) {
    font-size: 290px;
  }
}
.winners__title span:nth-of-type(2) {
  font-size: 125px;
  line-height: 0.7em;
  @media (max-width: 1440px) {
    font-size: 95px;
  }
}
.winners__title span:nth-of-type(3) {
  font-size: 140px;
  @media (max-width: 1440px) {
    font-size: 120px;
  }
  @media (max-width: 1200px) {
    font-size: 100px;
  }
}
.winners__title span:nth-of-type(4) {
  font-size: 95px;
  @media (max-width: 1440px) {
    font-size: 85px;
  }
  @media (max-width: 1200px) {
    font-size: 75px;
  }
}
.winners__title span:nth-of-type(5) {
  font-size: 75px;
  line-height: 1.4em;

  @media (max-width: 1750px) {
    font-size: 70px;
  }
  @media (max-width: 1500px) {
    font-size: 55px;
  }
  @media (max-width: 1200px) {
    font-size: 45px;
  }
}

.winners__lines {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 250px;
  pointer-events: var(--pi-decor);
  background-image: url("../img/winners/line_block.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 767px) {
    top: 70px;
    height: 30px;
  }
  @media (max-width: 576px) and (min-width: 360px) {
    height: 80px;
  }
}
